[Unit]
Description=home server application
After=network.target

[Service]
ExecStart=/opt/homecloud/launcher
WorkingDirectory=/opt/homecloud
Type=simple
Restart=always
User=root

[Install]
WantedBy=multi-user.target