package templates

templ Layout(title string) {
    <!DOCTYPE html>
    <html>
        <head>
            <title>{ title } - Homecloud</title>
            <link rel="stylesheet" href="/assets/auth.css">
            <link rel="preconnect" href="/assets/fonts">
            <link rel="stylesheet" href="/assets/fonts/inter.css">
        </head>
        <body>
            { children... }
            <script src="/assets/script.js"></script>
        </body>
    </html>
}